<h1>Actualizar usuario</h1>
<form [formGroup]="formulario">
    <div class="mb-3">
       <label for="exampleInputEmail1" class="form-label">Nombre</label>
       <input formControlName ="nombre" type="text" class="form-control" id="exampleInputEmail1" >
   </div>
   <div class="mb-3">
     <label for="exampleInputEmail1" class="form-label">Email</label>
     <input formControlName ="correo" type="email" class="form-control" id="exampleInputEmail1" >

   </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input formControlName ="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  
   <div class="mb-3">
       <label for="exampleInputPassword1" class="form-label">Rol</label>
       <select formControlName ="rol" class="form-select" aria-label="Default select example">
        
           <!-- <option selected>Rol</option> -->
           <option value="USER_ROLE">USUARIO</option>
           <option value="VENTAS_ROLE">VENTAS</option>
           <!-- <option value="2">Rol 2</option>
           <option value="3">Rol 3</option> -->
       </select>
   </div>
   
   <div class="mb-3">
    <button (click) = "guardar()" type="submit" class="btn btn-primary">Actualizar informacion</button>
</div>
</form>
